*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: hsl(215, 27.9%, 16.9%);
  height: 100vh;
  width: 100vw;
}

main{
  
  display: flex;
  gap: 80px;
  flex-flow: column wrap;
  background-color: hsl(215, 27.9%, 16.9%);
  color: hsl(220,6.9%,92.2%);
}

header{
  
  font-weight: bolder ;
  text-shadow: 1px 1px 1px #0000005b ;
  box-shadow: 1px 1px 2px #00000050;
  background-color: hsl(221, 39.3%, 11%);
  color: white;
  
}

header > h1{
  text-align: center;
  padding: 15px 0px;
  font-size: 1.8em;
  letter-spacing: 3px;
  
}

nav{
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  justify-content: space-evenly ;
}

nav >a{
  text-decoration: none;
  color: hsl(218, 10.6%, 64.9%) ;
  letter-spacing: 1px;
  font-weight: bolder;
  padding: 8px;
}

nav > a:hover{
  background-color: hsl(215, 20.2%, 65.1%);
  border-radius: 5px;
  color: hsl(215, 27.9%, 16.9%);
  transform: translate(-2%,-5%);
  transition: transform 1s ease, background-color 1s ease-in-out;
}

h2{
   text-align: center;
   padding: 10px;
   color: hsl(240, 5%, 64.9%);
   letter-spacing: 4px;
   font-size: 1.7em;
   border-bottom: 2px solid hsl(24, 5.7%, 82.9%);
   margin-bottom: 12px;
 }
 
 section#sobremim > article{
   background-color: hsl(221, 39.3%, 11%);
   padding: 20px;
   text-align: justify;
   text-indent: 15px ;
   line-height: 2em;
   min-width: 75%;
   max-width: 90%;
   margin: auto;
   margin-top: 80px;
   
 }

section#meusProjetos{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  background-color:hsl(221, 39.3%, 11%) ;
}

div.projeto{
  border: 0.5px solid antiquewhite;
  background-color: hsla(222,51%,17.4%,0.166);
  display: flex;
  flex-flow: row nowrap ;
  gap: 10px;
  padding: 12px;
  
}

div.item1 > h3{
  text-align: center ;
  color: white;
  padding: 5px;
  margin-bottom: 10px ;
  border-bottom: 1px solid white;
}

p{
  margin: 10px 0px;
}

div.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.item2 > a{
 text-decoration: none;
 color: hsl(224,61.7%,22.6%);
 font-size: 1em;
 
 font-weight: bold ;
 background-color: hsl(221, 83.2%, 53.3%);
 padding: 10px;
 border-radius: 20px;
}

div.item2 > a:hover{
  border: 1px solid white;
  transform: translate(-4%,-8%);
  transition: transform 1s ease,border 1.4s ease;
}

section#contato{
  background-color: hsl(222, 47.4%, 11.2%);
  padding: 10px;
  border-top: 2px solid white;
}

section#contato > a{
  text-decoration: none;
  color: hsl(199, 95.5%, 73.9%);
  font-weight: bold;
  
}

section#contato >a>i{
  margin-bottom: 10px;
}

i{
  color: hsl(199, 88.7%, 48.4%);
  padding: 5px;
}




img{
  width: 200px;
  height: 200px;
}


@media screen and (min-width:768px) {

  header{
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }
  
  header > h1{
    font-size: 2.5em; 
    margin-top: 40px ;
  }
  
  header > nav{
    display: flex;
    font-size: 1.4em;
  }
  
  header > nav > a{
    padding: 10px 20px;
  }
  
  header > h1 >br{
  display: none;
  }
  
section#sobremim > article {
  min-width:70%;
  max-width: 80%;
  margin: auto;
  padding: 15px;
  margin-top: 80px;
  
  line-height: 2em ;
}

h2{
  font-size:2.4em;
}

section#meusProjetos{
  display:flex;
  flex-direction: column;
  gap: 110px;
}

section#meusProjetos > div.projeto{
  min-width: 70%;
  max-width: 85%;
 
  min-height: 60%;
  max-height: 70%;
  margin: auto;
  margin-top: 2%;
}

div.item2 > a{
  display: flex;
  justify-content: center ;
  align-items: center;
  width:50%;
  max-width: 470px;
  text-align: center;
  height: 25%;
  max-height: 350px;
}
  
  section#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    height:400px;
  }
  
  section#contato > h3{
    font-size: 2em ;
    letter-spacing: 4px;
    display: block;
  }
  
  section#contato > a{
    font-size: 2em ;
    
    letter-spacing: 3px;
  }
  
  section#contato > i{
    font-size: 1.5em;
    margin-right: 30px;
  }
  
  img{
    width: 300px;
    height: 300px;
    
  }
}

@media screen and (min-width:1250px){
  
  section#sobremim > article > p{
  font-size: 1.7em;
  line-height: 2em ;
}

h1{
  font-size:3em;
}

section#meusProjetos > div.projeto{
  width: 80%;
  
}

div.item2 > a{
  font-size: 2.5em;
  color: hsl(215, 27.9%, 16.9%);
}

img{
  width: 450px;
  height: 450px;
}
}
